extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content
    section#introSection 
        | this is photo section        
    section#sponsorsSection 
        | this is sponser section 